extends ../layout

block content
  .container
    .row
      .article-content
        .article-meta
          h2.title 第一篇文章
          .author-name By AntSworD
          .statistic
            .publish-date.statistic-item
              span.glyphicon.glyphicon-time
              | 发布于2015年01月10日
            .read-count.statistic-item
              span.glyphicon.glyphicon-stats
              | 共被阅读了1345次
        .article-body
          p 第一段文章
          p 第二段文章
          p 第三段文章
          p 第四段文章
          p 第五段文章
      hr
      .article-comment.pannel.pannel-default
          .pannel-heading
            h3 评论区
          .pannel-body
            p 这里样式后面再做
