extends ../layout

block content
  .container
    .row
      - if (error && error.length !== 0)
        .alert.alert-danger.alert-dismissible(role="alert")
          button.close(type="button" data-dismiss="alert" aria-label="Close")
            span(aria-hidden="true") &times;
          strong Error!
          | #{ ' ' + error }
      - if (success && success.length !== 0)
        .alert.alert-success.alert-dismissible(role="alert")
          button.close(type="button" data-dismiss="alert" aria-label="Close")
            span(aria-hidden="true") &times;
          strong Success!
          | #{ ' ' + success }
      ul.article-list.list-unstyled
        each article in articles
          li
            .article-item
              div.date
                | #{moment(article.meta.publishAt).format('YYYY-MM-DD')}
              div.divider-vertical
              div.article-title
                a #{article.title}
