extends ../layout

block content
  .container
    .row
      ul.article-list.list-unstyled
        each article in articles
          li
            .article-item
              div.date
                | #{moment(article.meta.publishAt).format('YYYY-MM-DD')}
              div.divider-vertical
              div.article-title
                a #{article.title}
