extends ../layout

block content
  .container
    .row
      .col-md-5.col-center
        form(method="POST", action="/users/signin")
          .form-group
            label.control-label.sign-label(for="signinName") 用户名
            input#signinName.form-control(name="user[name]", type="text")
          .form-group
            label.control-label.sign-label(for="signinPassword") 密码
            input#signinPassword.form-control(name="user[password]", type="password")
          .form-group.sign-submit
            button.btn.btn-success(type="submit") 登录
